.header{
font-family: Garamond, serif;
}


#name{
background:#ECE5C7;
height:100vh;
width:100vw;
margin:0px;
overflow:hidden;
}

.top-g{
height:85.9px;
width:100vw;
}


.c-item{
height:250px;
width:100vw;
overflow:hidden;
}
.c-img{
height:100%;
filter:brightness(0.6);
}
.m-video-div-lines{
width:40%;
height:100%;
background:white;
text-align:right;
text-shadow: 2px 2px 8px #17594A;
font-size:25px;
}
.m-video-div{
height:400px;
width:100vw;
}
.m-video{
object-fit:cover;
top:0;
padding:10px 0px 10px 10px;
height:100%;
width:60%;
}
#men{
background:#ECE5C7;
height:100vh;
width:100vw;
}

/*men carousel starts

.caro{
position:relative;
height:400px;
width:100%;
margin: 0 auto;
border:black;
}
.caro-slides-img{
width:100%;
height:100%;
}
.caro-container{
height:100%;
position:relative;
overflow:hidden;
}
.caro-track{
padding:0;
margin:0;
list-style:none;
width:100%;
height:100%;
position:relative;
transition: transform 250ms ease-in;
}
.caro-slide{
position:absolute;
top:0;
bottom:0;
width:100%;
object-cover:fit;
display:inline-flex;
justify-content:center;
}
.caro-slide-div{
width:30%;
height:100%;
object-fit:cover;
}
.caro-button{
position:absolute;
top:50%;
transform:translateY(-50%);
border:0;
background:transparent;
cursor:pointor;
}
.caro-button-img{
width:20px;
}
.caro-button-left{
left:-40px;
padding-left:136px;
}
.caro-button-right{
right:-40px;
padding-right:136px;
}

men carousel ends*/

.men-video-rl{
height:350px;
width:100%;
padding-bottom:10px;
display:flex;
justify-content:center;
}
.m-video1{
position:relative;
height:100%;
object-fit:inherit;
}
m-video1-rl{
height:85.9px;
}

.container{
width:1170px;
margin:auto;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
}
.section{
flex-basis:23%;
margin:10px 0px;
height:115px;
}
.section-img{
width:100%;
height:90%;
box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.3);
}

#women{
background:#ECE5C7;
height:100vh;
width:100vw;
}
#kids{
background:#ECE5C7;
height:100vh;
width:100vw;
overflow:hidden;
}
.footer{
width:100%;
height:300px;
background:#526D82;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
margin:auto;
}
.footer-section{
flex-basis:30%;
margin:20px 0px;
height:180px;
}
.copy{
width:80%;
}