
#name{
background:white;
height:100vh;
margin:0px;
}

.top-g{
height:10%px;
}


.c-item{
height:300px;
}
.c-img{
height:100%;
filter:brightness(0.6);
}



#men{
background:#FFAAC9;
height:100vh;
padding-left:275px;
padding-top:200px;
}
.menwearphotos{
background:red;
width:478px;
height:478px;
}
.menwearcontent{
background:blue;
width:478px;
height:478px;
}
#women{
background:#E4A5FF;
height:100vh;
padding-left:275px;
padding-top:200px;
}
.womenwearphotos{
background:red;
width:478px;
height:478px;
}
.womenwearcontent{
background:blue;
width:478px;
height:478px;
}
#children{
background:#ECE5C7;
height:100vh;
padding-left:275px;
padding-top:200px;
}
.childwearphotos{
background:red;
width:478px;
height:478px;
}
.childwearcontent{
background:blue;
width:478px;
height:478px;
}
#form{
background:#ECE5C7;
height:100vh;
}