.header{
font-family: Garamond, serif;
}


#name{
background:white;
height:400vh;
margin:0px;
}

.top-g{
height:86.4px;
}


.c-item{
height:300px;
}
.c-img{
height:100%;
filter:brightness(0.6);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}


.card-k {
width:35%;
height:100%;
  max-width: 250px;
  max-height: 340px;
  margin: 10px;
   border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
}

#men{
height:100vh;
width:100vw;
}

/*men carousel starts*/

.caro{
position:relative;
height:400px;
width:80%;
margin: 0 auto;
padding:100px;
border:black;
}
.caro-slides-img{
width:100%;
height:100%;
}
.caro-container{
height:100%;
position:relative;
}
.caro-track{
padding:0;
margin:0;
list-style:none;
width:100%;
height:100%;
}
.caro-slide{
position:absolute;
top:0;
bottom:0;
width:100%;
object-cover:fit;
display:inline-flex;
justify-content:center;
}
.caro-slide-div{
width:30%;
height:100%;
object-fit:cover;
}
.caro-button{
position:absolute;
top:50%;
transform:translateY(-50%);
border:0;
background:transparent;
cursor:pointor;
}
.caro-button-img{
width:20px;
}
.caro-button-left{
left:-40px;
padding-left:136px;
}
.caro-button-right{
right:-40px;
padding-right:136px;
}

/*men carousel ends*/


#women{
background:#E4A5FF;
height:100vh;
}
#kids{
background:#ECE5C7;
height:100vh;
}

#form{
background:#ECE5C7;
height:100vh;
}
